html, body {
	width: 100%;
	overflow: auto;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #343434;
}

* {
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

h1, h2, h3, h4 {
	font-family: 'PT Sans', sans-serif;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 40px;
}



p {
	font-size: 19px;
	margin-bottom: 50px;
	line-height: 30px;
}